# Bazel files
bazel-*

# IntelliJ Bazel project
.ijwb/

# Temporary source files
tmp/

# Pycharm config
.idea/

# Python cache files
__pycache__/

# Data input/output directories
kglib/kgcn_tensorflow/examples/diagnosis/events/
